body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

.container {
    margin-top: 30px;
}

#theForm {
    margin: 40px 0;
}

.namer {
    max-width: 30%;
    min-width: 231px;
    margin: 10px auto;
}

.answer {
    word-wrap: break-word;
    max-width: 80%;
    margin: 20px auto;
}

.inputs {
    margin: 10px auto;
}