body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

#theForm {
    margin: 40px 0;
}

.namer {
    max-width: 50%;
    margin: 10px auto;
}

.answer {
    word-wrap: break-word;
    max-width: 80%;
    margin: 20px auto;
}

.inputs {
    margin: 0 auto;
}